<div class="wrapper">

  <!-- Main Navigation -->
  <main-nav></main-nav>

  <!-- Main Sidebar -->
  <main-sidebar></main-sidebar>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" style="min-height: 916px;">
    <!-- Content Header (Page header) -->
    <breadcrumbs display-name="breadcrumb.label" abstract-proxy="breadcrumb.proxy"></breadcrumbs>

    <!-- Main content -->
    <section class="content">
      <div class="box box-default">
        <div class="box-body" ui-view></div>
      </div>
    </section>
  </div>

  <!-- Main Footer -->
  <main-footer></main-footer>

  <!-- Control Sidebar -->
  <control-sidebar></control-sidebar>
</div>
