<aside class="main-sidebar">
  <section class="sidebar" style="height: auto;">
    <ul class="sidebar-menu">
      <li class="header">MAIN NAVIGATION</li>
      <li ng-repeat="item in mainSidebar.menu.items" ui-sref-active="active">
        <a ui-sref="{{item.state}}">
          <i class="{{item.class}}"></i> <span ng-bind="item.title"></span><span class="caret"></span>
        </a>
        <ul ng-repeat="el in item.items" role="menu"> 
            <li  ui-sref-active="active">
              <a ui-sref="{{el.state}}">
                <i class="{{el.class}}"></i> <span ng-bind="el.title"></span>
              </a>
            <li>
        </ul>
      </li>
    </ul>
  </section>
</aside>
