<div class="register-page">
  <div class="register-box">
    <div class="register-logo">
      <a href="/"><b>Demo</a>
    </div>

    <div class="register-box-body">
      <p class="login-box-msg">Register a new membership</p>

      <form name="form" ng-submit="signup.register(form)" novalidate>
        <div class="form-group has-feedback" ng-class="{'has-error': form.name.$invalid && signup.submitted}">
          <input type="text" name="name" class="form-control" placeholder="Full name" ng-model="signup.user.name">
          <span class="glyphicon glyphicon-user form-control-feedback"></span>
          <span class="help-block" ng-show="form.name.$error.required && signup.submitted">
            A name is required
          </span>
        </div>
        <div class="form-group has-feedback" ng-class="{'has-error': form.email.$invalid && signup.submitted}">
          <input type="email" name="email" class="form-control" placeholder="Email" ng-model="signup.user.email">
          <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
          <span class="help-block" ng-show="form.email.$error.email && signup.submitted">
            Doesn't look like a valid email.
          </span>
          <span class="help-block" ng-show="form.email.$error.required && signup.submitted">
            What's your email address?
          </span>
          <span class="help-block" ng-show="form.email.$error.mongoose">
            {{ signup.errors.email }}
          </span>
        </div>
        <div class="form-group has-feedback" ng-class="{'has-error': form.password.$invalid && signup.submitted}">
          <input type="password" name="password" class="form-control" placeholder="Password" ng-model="signup.user.password">
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          <span class="help-block"
             ng-show="(form.password.$error.minlength || form.password.$error.required) && signup.submitted">
            Password must be at least 3 characters.
          </span>
          <span class="help-block" ng-show="form.password.$error.mongoose">
            {{ signup.errors.password }}
          </span>
        </div>
        <div class="form-group has-feedback" ng-class="{'has-error': form.confirmPassword.$invalid && signup.submitted}">
          <input type="password" class="form-control" placeholder="Retype password" ng-model="signup.user.confirmPassword">
          <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
          <span class="help-block"
             ng-show="form.confirmPassword.$error.match && signup.submitted">
            Passwords must match.
          </span>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <button type="submit" class="btn btn-primary btn-block btn-flat">Register</button>
          </div>
        </div>
      </form>

      <div class="social-auth-links text-center">
        <p>- OR -</p>
        <oauth-buttons classes="btn-block" class="ng-isolate-scope">
          <a ng-class="classes" ng-click="OauthButtons.loginOauth('google')" class="btn btn-social btn-google btn-block">
            <i class="fa fa-google-plus"></i> Connect with Google+
          </a>
        </oauth-buttons>
      </div>

      <a ui-sref="login" class="text-center">I already have a membership</a>
    </div>
  </div>
</div>
