the-app/node_modules
the-app/public
the-app/.tmp
the-app/.idea
the-app/client/bower_components
the-app/dist
the-app/server/config/local.env.js
the-app/npm-debug.log
the-app/coverage
the-app/.temp
**/*.sqlite
