<div class="view-job-details" ng-switch="viewJobDetailsCtrl.job.id > 0">
  <div class="panel panel-default" ng-switch-when="true">
    <div class="panel-heading">
      <button type="button" class="close" aria-label="Close" ng-click="viewJobDetailsCtrl.onclose()"><span aria-hidden="true">&times;</span></button>
      <h3 class="panel-title" ng-bind="viewJobDetailsCtrl.job.type"></h3>
      <span class="label {{ viewJobDetailsCtrl.job.state_label_class }}" ng-bind="viewJobDetailsCtrl.job.state"></span>
    </div>
    <div class="panel-body">
      <p>
        <strong>Started:</strong>
        <span ng-bind="viewJobDetailsCtrl.job.started"></span>
      </p>
      <p>
        <strong>Finished:</strong>
        <span ng-bind="viewJobDetailsCtrl.job.finished"></span>
      </p>
      <p>
        <strong>Duration:</strong>
        <span ng-bind="viewJobDetailsCtrl.job.humanizeDuration"></span>
      </p>

      <strong>Job data:</strong>
      <pre ng-bind="viewJobDetailsCtrl.job.dataAsString"></pre>

      <strong>Attempts:</strong>
      <pre ng-bind="viewJobDetailsCtrl.job.attemptsAsString"></pre>

      <div ng-if="viewJobDetailsCtrl.job.error">
        <strong>Failure reason:</strong>
        <pre ng-bind="viewJobDetailsCtrl.job.error"></pre>
      </div>
    </div>
    <div class="panel-footer clearfix">
      <button type="button" class="btn btn-danger btn-sm" ng-if="showRequeueButton"
              ng-click="viewJobDetailsCtrl.requeueJob()">Requeue
      </button>
      <button type="button" class="btn btn-danger btn-sm pull-right" ng-click="viewJobDetailsCtrl.deleteJob()">Delete
        permanently
      </button>
    </div>
  </div>
  <div class="panel panel-default" ng-switch-default>
    <div class="panel-body">
      <button type="button" class="close" aria-label="Close" ng-click="viewJobDetailsCtrl.onclose()"><span aria-hidden="true">&times;</span></button>
      <span ng-bind="viewJobDetailsCtrl.message"></span>
    </div>
  </div>
</div>
